// Make sure the charset is set appropriately
// @charset "UTF-8";

// first import your own settings

// @import 

// then import foundation


// 

.tbw_head {
	height: 200px;
}

.tbw_nav_social, .tbw_nav {
	list-style: none;
	display: inline;
}