// Make sure the charset is set appropriately
// @charset "UTF-8";

// first import your own settings

@import url('foundation/_settings.css');

// then import foundation
@import url('foundation.css');

// Off canvas feature
@import url('../css/offcanvas.css');

// hw-parallax work
@import url('../css/hw-parallax.css');

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 16px !default;

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#px)
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}



html,body {
    height: 100%;
}

//  

@font-face {
  font-family: 'VeneerThree';
  src: url('fonts/veneerlowresthree-webfont.eot?') format('eot'), url('fonts/veneerlowresthree-webfont.woff') format('woff'), url('fonts/veneerlowresthree-webfont.ttf') format('truetype');
}

$primary: #b12921; // red
$secondary: #fff; // white
$black: #000; // black
$drk_bkgd: rgba(0,0,0,.8); // transparent-black

$fs_primary: 'VeneerThree', 'alternate-gothic-no-1-d', Arial, Helvetica, 'Droid Sans', sans-serif;
$fs_secondary:'great-primer', georgia, 'Droid Serif', serif;
$fs_legible: 'alternate-gothic-no-1-d', Arial, Helvetica, 'Droid Sans', sans-serif;

.red {
	color: red;
}
.white {
	color: #fff;
}
.tbw_bold {
	font-family: $fs_primary;
	color: $secondary;
	text-transform: uppercase;
}
.tbw_serif {
	font-family: $fs_secondary;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.tbw_italic {
	font-family: $fs_secondary;
	font-style: italic;
	letter-spacing: .06em;
}

.tbw_legible {
	font-family: $fs_legible;
	color: $secondary;
	text-transform: uppercase;
	letter-spacing: .08em;
	font-weight: normal;
}

.ir {
	 border: 0; 
	 font: 0/0 a; 
	 text-shadow: none; 
	 color: transparent;
}

// The socials

.facebook a{
	background: url('img/facebook.png') no-repeat;
	width: 25px; 
	height: 25px; 
}

.twitter a{
	background: url('img/twitter.png')  no-repeat; 
	width: 25px; 
	height: 25px; 
}

.blogger a{
	background: url('img/blogger.png') no-repeat; 
	width: 25px; 
	height: 25px; 
}

// full logo socials in Contact.html

.fb_logo a{
	background: url('img/socials/facebook_logo.png') no-repeat;
	width: 125px; 
	height: 30px; 
}

.tw_logo a{
	background: url('img/socials/twitter_logo.png')  no-repeat; 
	width: 125px; 
	height: 30px; 
}

.fk_logo a{
	background: url('img/socials/flickr_logo.png') no-repeat; 
	width: 125px; 
	height: 30px; 
}

.tr_logo a{
	background: url('img/socials/tumblr_logo.png') no-repeat;
	width: 125px; 
	height: 30px; 
}

.vo_logo a{
	background: url('img/socials/vimeo_logo.png')  no-repeat; 
	width: 125px; 
	height: 30px; 
}

.pt_logo a{
	background: url('img/socials/pinterest_logo.png') no-repeat; 
	width: 125px; 
	height: 30px; 
}

// Nav bar styles
@import "includes/_nav.scss";

// Footer Styles
.tbw_footer {
	color: $secondary;
	background-color: $drk_bkgd;
}

.tbw_footer .side-nav{
	padding: 0 0;
}

.tbw_border {
	margin: emCalc(13px) 0;
	border-left: $secondary 2px dotted;
}

.tbw_btmlinks a,.tbw_footer a:visited{
	color: $secondary;
}

.tbw_btmlinks a:hover{
	color: $primary;
}

.tbw_btmlinks a{
	font-weight: normal;
}

.tbw_btmlinks li a:after{
	content: "\0000a0\0000a0\003e";
}

.tbw_footer h3 {
	text-transform: uppercase;
	font-size: .85em;
	color: red;
}
.tbw_social_ft {
	list-style: none;
}

.tbw_footer .tbw_legible {
	font-size: emCalc(18px);
}

.tbw_address{
	margin-top: 10px;
}
.tbw_siteinfobar {
	margin-top: 1em;
}
.tbw_siteinfo {
	color: $primary;
	font-family: "alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 10px;
	background-color: $drk_bkgd;
	text-align: center;
}

// Background issues

#separator-section {
	color: #000;
	padding: .5em;
}

.tbw_gap {
	margin-top: emCalc(100px);
}

// individual pages
// index page
@import "includes/_index.scss";

// About page
@import "includes/_about.scss";

// Mixology Page
@import "includes/_mixology.scss";
@import "includes/_mixmodal.scss";

// Media Page
@import "includes/_media.scss";

// Contact page
/* import "includes/_contact.scss"; */

