// Make sure the charset is set appropriately
// @charset "UTF-8";

// first import your own settings

// @import 

// then import foundation

//Trying to make hw-parallax work

html,body {
    height: 100%;
}



// 

@font-face {
  font-family: 'VeneerThree';
  src: url('fonts/veneerlowresthree-webfont.eot?') format('eot'), url('fonts/veneerlowresthree-webfont.woff') format('woff'), url('fonts/veneerlowresthree-webfont.ttf') format('truetype');
}

.red {
	color: red;
}
.white {
	color: #fff;
}
.tbw_bold {
	font-family: 'VeneerThree';
	color: #fff;
	text-transform: uppercase;
}
.tbw_serif {
	font-family: 'great-primer', georgia, serif;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.tbw_italic {
	font-family: 'great-primer',georgia, serif;
	font-style: italic;
	letter-spacing: .06em;
}

// Nav bar styles
@import "_nav.scss";

// Footer Styles
.tbw_footer {
	color: #fff;
	background-color: #000;
}

.tbw_footer h3 {
	text-transform: uppercase;
	font-size: .85em;
	color: red;
}
.tbw_social_ft {
	list-style: none;
}

.tbw_siteinfo {
	color: red;
	font-family: "alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	margin-top: 10px;
	background-color: #000;
}

// individual pages
// index page
@import "includes/_index.scss";

// About page
@import "includes/_about.scss";

// Mixology Page
@import "includes/_mixology.scss";

// Media Page
@import "includes/_media.scss";

// Contact page
/* import "includes/_contact.scss"; */

