// The about us page styles.


html.touch #bg-about {
    background-image: url(img/about.png);
    background-size: cover;
}

.tbw_about{
	position: relative;
	border-left: 8px solid #eee;
	border-right: 8px solid #eee; 
	box-shadow:
		0 0 0 2px #000,
		0 0 0 3px #999,
		0 0 0 9px #eee,
		0 0 0 10px #000;
	@media screen and (max-width:768px){
		font-size: 1rem;		
	}
}

.tbw_about p {
   	z-index: 60;
}

.tbw_star {
 position: relative;
 top: 25px;
 width: 300px; 
 height: 300px; 
 background: url(img/compassStar.png) no-repeat; 
 text-indent: 100%; 
 white-space: nowrap; 
 overflow: hidden;
 z-index: 50; 
}

.tbw_traditional {
 position: relative;
 top: 4.5em;
 left: -120px;
 width: 180px; 
 height: 180px; 
 background: url(img/seasoningLabel.png) no-repeat; 
 text-indent: 100%; 
 white-space: nowrap; 
 overflow: hidden; 
}

.tbw_about_btn {
    background-color: $primary;
}

.tbw_about_btn a{
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: emCalc(1px);
}


 @media screen and (min-width:769px){
      #bg-about { 	margin-top: 6em; height: 784px;}
      .tbw_about {	font-size: 1.1rem;}
      .tbw_traditional {left: -100px;}
      .tbw_star {left: -100px;}
 }
 @media screen and (max-width:768px){
       #bg-about {	margin-top: 2em; height: 580px;}
      .tbw_about {	font-size: .8rem;}
      .tbw_traditional {left: -80px;}
      .tbw_star {left: -80px;}      
 }
