// The bay vodka website index page

#bg-home {
	height:985px;
}

html.touch #bg-home {
    background-image: url(img/home.png);
    background-size: cover;
}

.index {
	margin: 200px 0;
	height: 12em;
	background-color: #000;
	text-align: center;
	color: #fff;
}

.index h2{
	font-family: "VeneerThree","alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	letter-spacing: .02em;
	color: #fff;
	margin-top: 6em;
	font-size: 2.8rem;
	font-weight: normal;		
}

.index h2 span {
	font-family: "great-primer",georgia, serif;
	font-weight: normal;
	letter-spacing: .08em;
	font-size: 2.2rem;
	line-height: 1.2em;
}

.index {
	background-image: url("img/logo.png") no-repeat;
}