// The bay vodka website index page

#bg-home {
	height:985px; // <!-- @todo this changes the height of the desktop background images -->
}

html.touch #bg-home {
    background-image: url(img/home.png);
    background-size: cover;
}

.tbw_index {
	text-align: center;
	z-index: 2;
}


.tbw_index  h2{
	text-transform: uppercase;
	letter-spacing: .02em;
	color: $black;
	font-weight: bold;
}

.tbw_index  h2 span {
	font-weight: normal;
	letter-spacing: 0;
	font-size: .8em;
	line-height: 1.1em;
}

@media all and (min-width:768px){
    #bg-home {height:985px;}
    .tbw_index {padding-top: emCalc(50px);}
    .tbw_index h2{font-size: emCalc(52px);}
}
@media all and (max-width:767px){
    #bg-home {height:520px;}
    .tbw_index {padding-top: emCalc(35px);}
    .tbw_index h2{font-size: emCalc(30px);}
}
