#bg-mixology {
	height:985px;
}

html.touch #bg-mixology {
    background-image: url(img/mixology.png);
    background-size: cover;
}

.tbw_mix {
	margin-top: 20px;
}

.tbw_mix_flikr {
	margin-top: 20px;
}