/* Thumbnails and Titles
----------------------------------------------------------  */

#bg-mixology {
	height:985px;
}

html.touch #bg-mixology {
    background-image: url('img/mixology.png');
    background-size: cover;
}

.tbw_mix {
	margin-top: 20px;
}

.tbw_overlay {
	margin-top: -1px;
    height: 4em;
	padding: 2px 10px 1px 17px;
	background-color: $drk_background;
}

.tbw_overlay h5{
	font-weight: normal;
	font-size: 1.2em;
	color: $primary;
	margin-bottom: -0.1em;
}

.tbw_overlay p {
	@extend .tbw_legible;
	font-size: 1em;
}

li a.zoom-btn {
  @extend .ir;
  float: right;
  margin-top: -55px;
  background: url('img/plusicon.png');
  width: 25px;
  height: 25px;
  
}

/* Titter and Flickr Sidebars
----------------------------------------------------------  */

.tbw_tweets {
	@extend .tbw_italic;
	font-size: .9em;
	margin-top: 20px;
	background-color: $drk_background;
	padding: 5px 5px;

}

.tbw_tweets h2, .tbw_flickr h2{
	@extend .tbw_legible;
	padding: 7px 0 0 50px;
	font-size: 1.3em;
	color: $secondary;
	border-bottom: 2px $secondary dotted;
}

.tbw_tweets h2 {
	background-image: url('img/redTwitter.png');
	background-repeat: no-repeat;
	height: 40px;
}

.tbw_flickr h2 {
	background-image: url('img/flickr.png');
	background-repeat: no-repeat;
	height: 40px;
}

.tbw_tweets ul {
	list-style: none;
	margin-left: 10px;
}
.tbw_tweets hr {
	border: 1px $secondary dotted;
	color: none;
}

.tbw_tweets h4 a{
	color: $primary;
	font-style: normal;
}

.tbw_tweets h4 a:after{
	content: " ";
	background-image: url('img/redArrow.png') no-repeat;
	display: inline-block;
	width: 25px;
	height: 25px;
}

.tp_recent_tweets {
	float: left;
	clear: left;
}

.tp_recent_tweets  li {
	background-image: url('img/quotes.png');
	background-repeat: no-repeat;	
	background-position: 0px 4px;
	padding-left: 30px;
	padding-bottom: 20px;
	float: left;
	clear: left;
	line-height: 20px;
}

.wpb_flickr_widget p {
	border-top: 2px $secondary dotted;
}

.tp_recent_tweets li a {
	font-weight: normal;	
}

.tp_recent_tweets .twitter_time {
	color: #999;
	font-size: 12px;
	font-style: italic;	
	font-weight: normal;
}

/* Flickr stream
---------------------------------------------------------- */
.tbw_flickr {
	@extend .tbw_tweets;
/* 	margin-top: 0; */
}

.flickr_badge_image {
  margin: 0 10px 10px 0px;
  width: 50px;
  height: 50px;
  float: left;
  background: none;
  padding: 0;
}
.flickr_badge_image a {
  border: none;
}
.flickr_badge_image img {
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.wpb_flickr_widget p.flickr_stream_wrap {
  color: $primary;
  clear: both;
  margin-bottom: 0;
  font-size: 80%;
}

.wpb_flickr_widget p.flickr_stream_wrap a {
  @extend .tbw_legible;
  font-size: 1.5em;
  font-style: normal;
  color: $primary;
}

.wpb_flickr_widget p.flickr_stream_wrap a:after {
  background-image: url('img/nav.png');
  background-repeat: none;
  width: 25px;
  height: 25px
}