//
// Styles for Nav tbw_nav and Drop Down Nav (tbw_ddnav)
//

.logo{
	@media screen and (min-width 768){
			}
}

.tbw_head {
/* 	height: 200px; */
	font-family: "VeneerThree","alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	background-color: #000;
	height: 5em;
	margin-top: 55px;
}
.tbw_head a, .tbw_head a:visited{ color:#fff;}
.tbw_head a:hover { color:red;}

.tbw_head a {
	margin: 0 0;
	font-weight: normal;
}

.tbw_nav_social, .tbw_nav {
	color: #fff;
	list-style: none;
}

.tbw_nav > li {	
	margin: 0 .1em;
	font-size: 1.3em;
	letter-spacing: .2em;
}

.tbw_logo { margin-top: -1.4em; }

.tbw_nav, .tba_nav .divider{
	padding: 24px 0;
}

.tbw_nav .divider{
	  margin-top: 9px;
	  width: 14px; 
	  height: 15px; 
	  background: url(bullet.png);
	  text-indent: 100%; 
	  white-space: nowrap; 
	  overflow: hidden;
	  @media screen and (max-width: 870px) {
		  display:none;
	  }
}

.tbw_nav_signup {
	font-size: .5em;
	color: #fff;
}
.tbw_nav_signup span {
	color: red;
}
.tbw_nav_search {padding: 20px 0}

// Styles for fixed left nav

.tbw_ddnav{
	color: #FFF;
	background-color: #000;
}

.tbw_ddnav{
	list-style: none;
	margin: 0 0;
}

.tbw_ddnav_page .active{
	font-size: 3em;
	font-family: "VeneerThree","alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	letter-spacing:.15em;
	margin: 2em 0;
	transform: (-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.tbw_ddnav_sidebar{
	margin-top:250px;
	background-color:red;
}

.back-none{
	background-color: none;
}


header#header {
	left:1em;
	@media screen and (min-width:768px){
		left:3em;
		
	}
}
[data-magellan-expedition] {
	background: none;
}