//
// Styles for Nav tbw_nav and Drop Down Nav (tbw_ddnav)
//


// Index page horizontal navigation

.tbw_spacer {
	margin: 1.8em;
}

.tbw_bar {
	background-color: $black;
}

.tbw_head {
	font-family: "VeneerThree","alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	height: 6.2em;
}


.tbw_head a, .tbw_head a:visited{ color:#fff;}
.tbw_head a:hover { color:red;}

.tbw_head a {
	margin: 0 0;
	font-weight: normal;
}

.tbw_nav, .tbw_nav_social{
	color: #fff;
	list-style: none;
}

.tbw_nav_social li {
	@extend inline-list;
	margin-top: 35px;
	margin-bottom: 4px;
}

.tbw_crabLower .tbw_nav_social li {
	@extend inline-list;
	margin: 5px 0;
}

.tbw_head hr { 
	margin: .15em 0;
	border-image: url('img/ropePattern.png') repeat-x top left;
}

.tbw_nav > li {	
	margin: 0 5px;
	font-size: 1.25em;
	letter-spacing: .1em;
}

.tbw_logo {/* margin-top: -1.4em; */}

.tbw_nav, .tba_nav .divider{
	padding: 3em 0;
}

.tbw_nav .divider{
	  margin-top: 9px;
	  width: 14px; 
	  height: 15px; 
	  background: url(bullet.png);
	  text-indent: 100%; 
	  white-space: nowrap; 
	  overflow: hidden;
	  @media screen and (max-width: 935px) {
		  display:none;
	  }
}

.tbw_nav_signup {
	@extend .tbw_legible;
	font-size: .9em;
	line-height: .9em;
	color: #fff;
	text-align: center;
}
.tbw_nav_signup span {
	color: $primary;
	letter-spacing: .2em;
}

input.tbw_nav_search {margin: 45px 0}
@media all and (min-width: 850px) {
	.tbw_ddnav_pages li.active {font-size: 2em;}
	header#header { left:15%; }
}
@media all and (min-width: 768px) {
	.tbw_ddnav_pages li.active {font-size: 2em;}
	header#header { left:6%; }
}
@media all and (max-width: 767px) {
	.logo {margin-left: 20%;}
	.tbw_ddnav_pages li.active {font-size: 1.8em;}
	header#header { left:10%; }
}
@media all and (max-width: 480px) {
	.logo {margin-left: 12%;}
	.tbw_ddnav_pages li.active {font-size: 1.5em;}
	header#header { left:8%; }
}
@media all and (max-width: 320px) {
	.logo {margin-left: 1%;}
	.tbw_ddnav_pages li.active {font-size: 1.2em;}
	header#header { left:1em; }
}



// Styles for crabmenu, the fixed left nav

.tbw_crabMenu{
}

.tbw_ddnav{
	color: #FFF;
	list-style: none;
	margin: 0 0;
}

.tbw_ddnav_pages{
	height: 200px;
	background-color: #000;
}

.tbw_ddnav_pages li.active{
	margin: 120px 0;
	display: block;
	font-size: 2em;
	font-family: "VeneerThree","alternate-gothic-no-1-d",sans-serif;
	text-transform: uppercase;
	letter-spacing:.15em;
	transform: (-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

ul.tbw_ddnav_pages{
/* 	margin: 10px 5px 10px 5px; */
}

ul.tbw_ddnav_pages li{
	display:none;
}

.tbw_crabLower{
	margin: 5px 0;
	background-color: none;
}

.tbw_ddnav_sidebar{
	margin-top:250px;
	background-color:red;
}

.back-none{
	background-color: none;
}

// the crabMenu links

.tbw_crab a{
	background: url('img/crab.png') no-repeat;
	border-radius: 50%;
	width: 50px; 
	height: 50px;
	display: block; 
}	


a#sidebarButton.tbw_menu_btn{
	position: relative;
	background: url('img/menuToggle.png') no-repeat; 
	width: 42px; 
	height: 33px;
	display: block; 
}



.tbw_crabMenu{
	position: absolute;
}

[data-magellan-expedition] {
	background: none;
	padding: 0 0;
	width: 3.5em;
	min-width: 30px;
}

// Styling the sidenav

/* .hide-extras [role="complementary"] { display:block; } */


[role="complementary"]{
	position: fixed;
}

.tbw_nav_sidebar {
	padding-left: 100px;
}

.tbw_nav_sidebar li{
	background-color: #666;
	text-align: center;
	line-height: 2em;
	border-style: solid;
	border-width: 2px;
	border-color: #333;
}

.tbw_nav_sidebar li a{
	width:100%;
}

